body{
    background: #BDBDBD; 
    margin: 0;
} 
header{
    background: white; 
    padding: 10px;
} 
header h1{
    margin: 0;
} 
div.post{
    background: white; 
    margin-top: 5px;
} 
div.post .post-header div:first-child{
    display:inline-block; 
    width: 20%; 
} 
div.dots{
    display: inline-block;
    float: right;
    padding-top: 5%;
}

div.post img{
    width: 100%;
}  
div.post h3, div.post p{
    padding: 10px; 
    margin: 0;
}
div.container{
    width: 600px;
    margin: auto;
}